<!DOCTYPE html>
<!-- HTML5 Boilerplate -->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>The Secret Life of Pets</title>
    <meta name="keywords" content="Pets">

    <meta http-equiv="cleartype" content="on">

    <!-- Responsive and mobile friendly stuff -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/quander-assets/pets/html5reset.css" media="all">
    <link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/quander-assets/pets/col.css" media="all">
    <link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/quander-assets/pets/MasterCol.css" media="all">

    <meta property="fb:admins" content="100003540748106">
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.3/jquery.xdomainrequest.min.js"></script>

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@quanderio">
    <meta name="twitter:creator" content="@quanderio">
    <meta name="twitter:title" content="The Secret Life Of Pets">
    <meta name="twitter:description" content="The Secret Life Of Pets">
    <meta name="twitter:image:src" content="{{media[0].posterurl}}">
    <meta property="twitter:account_id" content="1378964220">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Facebook -->
    <meta property="og:site_name" content="The Secret Life Of Pets">
    <meta property="og:image" content="{{media[0].posterurl}}">
    <meta property="og:url" content="{{ ogURL }}">
    <meta property="og:title" content="The Secret Life Of Pets">
    <meta property="og:description" content="#GreatNorthFun">

    <style type="text/css">
         html, body, div, span, applet, object, iframe,
        blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        
        /* HTML5 display-role reset for older browsers */
        
        article,
        aside,
        details,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        menu,
        nav,
        section {
            display: block;
        }
        
        #video .video-js {
            border: 5px solid white;
        }
        
        #button-wrapper {
            width: 100%;
            height: 52px;
            position: relative;
            margin: 0 auto;
            padding-bottom: 40px;
        }
        
        #button-wrapper.not-ready {
            opacity: 0.1;
        }
        
        #button-wrapper.not-ready a.button {
            cursor: default;
        }
        
        a.button {
            width: 220px;
            height: 52px;
            padding-left: 30px;
            padding-right: 30px;
        }
        
        a.button:hover {}
        
        p#support-text {
            color: white;
            font-size: 20px;
            font-weight: 200;
        }
        
        p#support-text a,
        p#support-text a:visited,
        p#support-text a:active {
            font-weight: 400;
            color: white;
            text-decoration: underline;
        }
        
        p#support-text a:hover {
            text-decoration: underline;
        }
        
        .vjs-default-skin .vjs-big-play-button::before {
            line-height: 90px;
            text-shadow: none;
            font-size: 40px;
            color: black;
            padding-left: 2px;
            padding-top: 2px;
        }
        
        .vjs-default-skin .vjs-big-play-button,
        .vjs-default-skin .vjs-play-progress,
        .vjs-default-skin .vjs-volume-level {
            background: #FFFFFF;
        }
        
        .vjs-default-skin .vjs-big-play-button {
            top: 325px;
            left: 575px;
            margin: -4em auto auto -6em;
            background: rgba(255, 255, 255, 0.5);
            width: 90px;
            height: 90px;
            border-radius: 90px;
            border: 0px;
            line-height: 90px;
        }
        .paddBot20 {padding-bottom:20px}
    </style>

</head>

<body>

    <div class="section group">
        <div class="col span_1_of_3">
            <img src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/the-secret-life-of-pets/templates/1063/desktop-despicableMe.gif" alt="Pets" class="topLeft">
        </div>
        <div class="col span_1_of_3">
            <h1><img src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/the-secret-life-of-pets/templates/1063/desktop-logo.gif" alt="The Secret Life of Pets" class="topCenter"></h1>
        </div>
        <div class="col span_1_of_3">
            <img src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/the-secret-life-of-pets/templates/1063/desktop-inCinemas.gif" alt="Pets" class="topRight">
        </div>
    </div>

       <!-- START: repeat video section -->
    {% for file in media %}  
    <div class="section group tileBG">
        <div class="span_2_of_2">
            <div class="col span_1_of_4 hidemeMobile"></div>
            <!-- START: video section -->
            <div class="col span_1_of_2">

                {% if file.type == 'video' %}
                <div id="video" class="shrink">
                    <video id="MY_VIDEO_1" class="video-js vjs-default-skin" controls preload="auto" poster="{{file.posterurl}}" data-setup="{}">
                        <source src="{{file.url}}" type='video/mp4'>
                        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                    </video>
                </div>

                {% else %}
                <div id="image-view">
                    <img src="{{file.url}}" id="customer-content">
                </div>
                {% endif %} 

                <div class="section group">
                    <h2>{{ attendee.firstname}}, here is your</h2>
                    <h3>#PetsMatch video</h3>
                </div>
                <div class="section group">
                    <div class="col span_1_of_3">
                        <a href="https://pets.qndr.io/v/{{ vanity }}/{{ loop.index0 }}/download" title="Download" target="_blank"><img src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/the-secret-life-of-pets/templates/1063/btnDownload.gif" alt="Download" class="button"></a>
                    </div>
                    <div class="col span_1_of_3">
                        <a href="https://pets.qndr.io/v/{{ vanity }}/{{ loop.index0 }}/share/facebook" title="Facebook" target="_blank" title="Webpage share to Facebook" data-url="{{ file.url }}" data-vanity="{{ vanity }}" data-type="{{ file.type }}" data-social="{{ file|shareObject }}" class="facebook">
                        <img src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/the-secret-life-of-pets/templates/1063/btnFacebook.gif" alt="FaceBook" class="button"></a>
                    </div>
                    <div class="col span_1_of_3">
                        <a href="https://pets.qndr.io/v/{{ vanity }}/{{ loop.index0 }}/share/twitter" title="Twitter" target="_blank" class="share twitter">
                        <img src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/the-secret-life-of-pets/templates/1063/btnTwitter.gif" alt="Twitter" class="button">
                        </a>
                    </div>
                </div>
                <div id="button-wrapper"></div>
            </div>
            <!-- END: video section -->

            <div class="col span_1_of_4 hidemeMobile"></div>
        </div>
    </div>
                    {% endfor %}
    <!-- END: repeat video section -->

    <!-- START: Bottom section -->
    <div class="section group">

        <div class="col span_1_of_4 hidemeMobile sideImage">
            <img src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/the-secret-life-of-pets/templates/1063/desktop-leftDog.jpg" alt="Pets" class="sideDogs floatLeft">
        </div>

        <div class="col span_1_of_2">
            <div class="span_2_of_2 paddBot20">
                <p>Congratulations on finding your best matched pet.</p>
                <p> Share your video with #PetsMatch and you could<span></span> star in our marketing campaign! </p>
            </div>
            <div class="section group paddBot20">
                    <div class="col span_1_of_3">
                    </div>
                    <div class="col span_1_of_3">
                        <a href=" http://booktickets.universalpictures.co.uk/the-secret-life-of-pets/" target="_blank" style="text-decoration:none;" title="Pets"><img alt="BOOK TICKETS" src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/pets-test/templates/1056/BOOKTICKETS.gif"  height="30" style="display:block;border-style:none; margin: 0 auto;" class="button" /></a>
                    </div>
                    <div class="col span_1_of_3">
                    </div>
            </div>
                
               <!-- 
              <div class="mobilehide">
                        <a href=" http://booktickets.universalpictures.co.uk/the-secret-life-of-pets/" target="_blank" style="text-decoration:none;" title="Pets"><img alt="BOOK TICKETS" src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/pets-test/templates/1056/BOOKTICKETS.gif"  height="30" style="display:block;border-style:none; margin: 0 auto;" class="button" /></a>
                    </div>
            -->
                
                
                
                
              
            <div>
                <div class="section group">
                    <div class="col span_1_of_2">
                        <p class="small">
                            <br /> &copy; Universal copyright. All Rights Reserved
                            <br /><a href="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/the-secret-life-of-pets/templates/1060/Pets%20terms%20and%20conditions.html" title="Terms and Conditions" class="smallBold">Terms and Conditions</a> | <a href="http://www.nbcuniversal.com/privacy/full-privacy-policy" title="Privacy Policy" class="smallBold">Privacy Policy</a>
                        </p>
                    </div>
                    <div class="col span_1_of_2">
                        <img src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/the-secret-life-of-pets/templates/1063/logo-universal.gif" alt="Illumination Entertainment">
                    </div>
                </div>
            </div>
        </div>

        <div class="col span_1_of_4 hidemeMobile sideImage">
            <img src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/the-secret-life-of-pets/templates/1063/desktop-rightDog.jpg" alt="Pets" class="sideDogs floatRight">
        </div>

    </div>
    <!-- END: Bottom section -->

    <!-- START: Dog at page bottom - mobile only -->
    <div class="section group mobileOnly">
        <div class="col span_2_of_2">
            <img src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/the-secret-life-of-pets/templates/1063/mobile-bottomDog.jpg" alt="Pets">
        </div>
    </div>
    <!-- END: Dog at page bottom - mobile only -->
<script>
$('.share.twitter').on('click', function(e){
	e.preventDefault();
	window.open(this.href, '_blank', 'scrollbars=yes,resizable=yes,toolbar=no,location=yes,width=600,height=400');
	return false;
});
</script>     
<script src="https://s3-eu-west-1.amazonaws.com/quander-assets/social/app.js"></script>
</body>
</body>

</html>