/*  GRID OF TWO   ============================================================================= */

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 20px
}

h2 {font-family: Arial, sans-serif;
    color: #e90336;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    padding: 0.5em 0 0 0
}

h3 {font-family: Arial, sans-serif;
    color: #65839a;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    padding: 0.5em 0
}

p {font-family: Arial, sans-serif;
    color: #63849d;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 0.625em
}

p.small {
    color: #63849d;
    font-size: 10px;
    line-height: 14px
}

a {
    color: #63849d;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none
}

a.smallBold {
    color: #63849d;
    font-size: 10px;
    line-height: 14px;
    font-weight:bold;
    text-decoration: none
}


.floatLeft {
    float: left
}

.floatRight {
    float: right
}

video {
    width: 100%;
    height: auto
}

.button {
    width: 100%;
    max-width: 246px;
    height: auto
}

#image-view {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 40px;
}

#image-view img {
    border: 5px solid white;
}

.col {
    padding: 0;
    text-align: center
}

.tileBG {
    background-image: url(../images/tiledBGpng.png);
    background-repeat: repeat-x;
}

.span_2_of_2 {
    width: 100%;
}

.span_1_of_2 {
    width: 49.2%;
}

.span_3_of_3 {
    width: 100%;
}

.span_2_of_3 {
    width: 66.13%;
}

.span_1_of_3 {
    width: 32.26%;
}

.span_4_of_4 {
    width: 100%;
}

.span_3_of_4 {
    width: 74.6%;
}

.span_2_of_4 {
    width: 49.2%;
}

.span_1_of_4 {
    width: 23.8%;
}

.topLeft {
    width: 70%;
    max-width: 206px;
    height: auto;
    float: left
}

.topCenter {
    width: 80%;
    max-width:240px;
    height: auto;
}

.topRight {
    width: 70%;
    max-width: 252px;
    height: auto;
    float: right
}

.sideDogs {
    width: 80%;
    height: auto;
}

.mobileOnly img {
    visibility: visible;
    height: 1px;
    width: 320px;
}

.mobileOnly div {
    height: 1px;
    margin-top: -20px
}

.padBot30 {
    padding-bottom: 30px
}

.sideImage {
    margin-bottom: 0px
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .span_2_of_2 {
        width: 100%;
    }
    .span_1_of_2 {
        width: 100%;
    }
    .span_3_of_3 {
        width: 100%;
    }
    .span_2_of_3 {
        width: 100%;
    }
    .span_1_of_3 {
        width: 100%;
    }
    .span_4_of_4 {
        width: 100%;
    }
    .span_3_of_4 {
        width: 100%;
    }
    .span_2_of_4 {
        width: 100%;
    }
    .span_1_of_4 {
        width: 100%;
    }
    .hidemeMobile {
        display: none
    }
    .mobileOnly div {
        margin-top: 10px
    }
    .mobileOnly img {
        visibility: visible;
        height: 126px;
        width: 320px;
    }
    .topLeft {
        width: 60%;
        height: auto;
        text-align: center;
        float: none;
        margin-bottom: 1.0em
    }
    .topRight {
        width: 70%;
        height: auto;
        text-align: center;
        float: none
    }
    p {
        width: 99%;
        text-align: center
    }
    .button {
        width: 70%;
        height: auto
    }
    span {
        display: block
    }
}

@media only screen and (min-width: 777px) {
    .sideDogs {
        width: 60%;
        height: auto;
    }
}