<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no" />
    <title>Secret Life of Pets</title>

    <style media="all" type="text/css">
        <!-- body,
        table {
            font-family: Arial, Helvetica, sans-serif;
        }
        
        body {
            background-color: #f3f2f2;
            width: 100%;
            margin-right: auto;
            margin-left: auto;
        }
        
        .ExternalClass {
            width: 100% !important;
        }
        
        .ExternalClass * {
            line-height: 100%;
        }
        
        #outlook a {
            padding: 0;
        }
        
        img {
            border-style: none;
            display: block;
            -ms-interpolation-mode: bicubic;
        }
        
        .applelinks a {
            color: #000000 !important;
            text-decoration: none;
        }
        
        a {
            outline: none;
            text-decoration: none;
        }
        
        a {
            color: #000000;
        }
        
        *[class="footer-pad"] {
            padding-top: 10px;
        }
        
        *[class="header-width"] {
            width: 120px !important;
            display: block !important;
        }
        
        @media only screen and (max-width: 480px),
        (max-device-width: 480px) {
            * {
                -webkit-text-size-adjust: none;
            }
            /*Resizes to 100% width*/
            *[class="expand100pc"] {
                width: 100% !important;
                height: auto !important;
            }
            /*Resizes to 320px width*/
            *[class="shrink"] {
                width: 320px !important;
                height: auto !important;
            }
            /*Resizes to fixed width*/
            *[class="shrink220"] {
                width: 220px !important;
                height: auto !important;
            }
            *[class="shrink300"] {
                width: 300px !important;
                height: auto !important;
            }
            /*Split cols*/
            *[class="colsplit"] {
                width: 100%!important;
                float: left!important;
            }
            *[class="colsplit-grey-bot"] {
                float: left!important;
                border-bottom: 5px solid #ffffff !important;
                width: 320px !important;
            }
            /*hide on mobile*/
            *[class="mobilehide"] {
                display: none !important;
            }
            *[class="mobilebreak"] {
                display: block !important;
            }
            /*center on mobile*/
            *[class="mob25"] {
                font-size: 25px !important;
                line-height: 29px !important;
            }
            *[class="mob22"] {
                font-size: 22px !important;
                line-height: 26px !important;
            }
            /*expands CTAs and increases font size on mobile*/
            *[class="shrink200"] {
                width: 200px !important;
                height: auto !important;
            }
            *[id=gmail] {
                display: block!important;
                width: auto!important;
                overflow: visible!important;
                float: none !important;
                height: inherit!important;
                max-height: inherit!important;
            }
            /*page-mob-images*/
            span[class="header-mob"] {
                display: block !important;
                background-image: url('https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/pets-test/templates/1056/header-mob.gif') !important;
                background-size: 100% 100% !important;
                width: 320px !important;
                height: 132px !important;
            }
            span[class="hero-mob"] {
                display: block !important;
                background-image: url('{{ media[0].posterurl }}') !important;
                background-size: 100% 100% !important;
                width: 320px !important;
                height: 173px !important;
            }
            span[class="download-mob"] {
                display: block !important;
                background-image: url('https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/pets-test/templates/1056/btnDownload-mob.gif') !important;
                background-size: 100% 100% !important;
                width: 320px !important;
                height: 44px !important;
            }
            span[class="facebook-mob"] {
                display: block !important;
                background-image: url('https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/pets-test/templates/1056/btnFacebook-mob.gif') !important;
                background-size: 100% 100% !important;
                width: 320px !important;
                height: 44px !important;
            }
            span[class="twitter-mob"] {
                display: block !important;
                background-image: url('https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/pets-test/templates/1056/btnTwitter-mob.gif') !important;
                background-size: 100% 100% !important;
                width: 320px !important;
                height: 44px !important;
            }
        }
        
        -->
    </style>



</head>

<body>
    <div style="background-color:#ffffff">

        <table cellpadding="0" cellspacing="0" border="0" style="font-family:Arial, Helvetica, sans-serif;" width="100%" align="center" bgcolor="#f3f2f2">
            <tr>
                <td align="center">
                    <table cellpadding="0" cellspacing="0" border="0" class="shrink" bgcolor="#f3f2f2">
                        <tr>
                            <td align="center">
                                <table cellpadding="0" cellspacing="0" border="0" width="580" bgcolor="#ffffff" class="shrink">
                                    <tr>
                                        <td align="center">

                                            <!-- Gmail iphone fix -->
                                            <table cellpadding="0" cellspacing="0" border="0" width="580" bgcolor="#ffffff" class="mobilehide">
                                                <tr>
                                                    <td><img src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/pets-test/templates/1056/spacer.gif" width="580" height="1" style="display:block;border-style:none;font-size: 1px; line-height: 1%; mso-line-height-rule: exactly; min-width:580px" /></td>
                                                </tr>
                                            </table>
                                            <!-- End Gmail iphone fix -->

                                            <table cellpadding="0" cellspacing="0" border="0" width="560" bgcolor="#ffffff" class="shrink300">
                                                <tr>
                                                    <td><img src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/pets-test/templates/1056/spacer.gif" width="1" height="20" style="display:block;border-style:none;" /></td>
                                                </tr>
                                            </table>




                                            <!-- *********** Start Pets email content rows ***********  -->
                                            <table border="0" cellpadding="0" cellspacing="0" class="shrink" bgcolor="#ffffff" width="600">
                                                <tr>
                                                    <td valign="top">
                                                        <img alt="From the Humans Behind - Despicable Me" src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/pets-test/templates/1056/desktop-despicableMe.gif" width="103" height="25" style="display:block;border-style:none;" class="mobilehide" /></a>
                                                    </td>
                                                    <td width="33.3%" class="shrink200" align="center">
                                                        <table border="0" cellpadding="0" cellspacing="0" class="shrink" width="180" align="center">
                                                            <tr>
                                                                <td align="center"><a href="#" title="Pets" target="_blank"><span class="header-mob"></span></a></td>
                                                                <td class="shrink220" align="center">
                                                                    <table border="0" cellpadding="0" cellspacing="0" align="center">
                                                                        <tr>
                                                                            <td align="center" valign="bottom" class="mobilehide">
                                                                                <a href="#" title="Pets" target="_blank"><img alt="Pets" src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/pets-test/templates/1056/desktop-logo.gif" width="69" height="83" style="display:block;border-style:none;" /></a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td valign="top" align="right">
                                                        <img alt="In cinemas June 24" src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/pets-test/templates/1056/desktop-inCinemas.gif" width="126" height="22" style="display:block;border-style:none;" class="mobilehide" />
                                                    </td>

                                                </tr>
                                            </table>


                                            <!-- START: hero image -->
                                            <table border="0" cellpadding="0" cellspacing="0" class="shrink" width="580" align="center">
                                                <tr>
                                                    <td>
                                                        <a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" target="_blank" style="text-decoration:none;" title="Secret Life of Pets Media"><img alt="Pets" src="{{ media[0].posterurl }}" width="403" height="227" style="display:block;border-style:none; margin: 0 auto;" class="mobilehide" /><span class="hero-mob"></span></a>
                                                    </td>
                                                </tr>
                                            </table>
                                            <!-- END: hero image -->




                                            <table border="0" cellpadding="0" cellspacing="0" class="shrink" bgcolor="#ffffff" width="600">
                                                <tr>
                                                    <!-- START: left dog -->
                                                    <td valign="bottom">
                                                        <img alt="From the Humans Behind - Despicable Me" src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/pets-test/templates/1056/desktop-leftDog.jpg" width="98" height="206" style="display:block;border-style:none;" class="mobilehide" /></a>
                                                    </td>
                                                    <!-- END: left dog -->

                                                    <td width="33.3%" class="shrink200" align="center">
                                                        <table border="0" cellpadding="0" cellspacing="0" class="shrink" width="400" align="center">
                                                            <tr>
                                                                <td style="font-size:10px;line-height:10px;"><img src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/pets-test/templates/1056/spacer.gif" width="1" height="10" style="display:block;border-style:none;font-size: 1px; line-height: 1%; mso-line-height-rule: exactly;" /></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" style="color:#e90336;font-size:16px;line-height:20px;font-family:Arial, Helvetica, sans-serif; font-weight:bold">
                                                                    RACHEL WILSON HERE IS YOUR
                                                                </td>
                                                            </tr>
                                                            <tr>

                                                                <td align="center" style="color:#65839a;font-size:16px;line-height:20px;font-family:Arial, Helvetica, sans-serif; font-weight:bold">
                                                                    #PetsMatch video</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size:15px;line-height:15px;"><img src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/pets-test/templates/1056/spacer.gif" width="1" height="15" style="display:block;border-style:none;font-size: 1px; line-height: 1%; mso-line-height-rule: exactly;" /></td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size:5px;line-height:5px;" class="mobilehide"><img src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/pets-test/templates/1056/spacer.gif" width="1" height="5" style="display:block;border-style:none;font-size: 1px; line-height: 1%; mso-line-height-rule: exactly;" /></td>
                                                            </tr>
                                                        </table>



                                                        <!-- START: 3 buttons -->
                                                        <table border="0" cellpadding="0" cellspacing="0" class="shrink" width="400" align="center">
                                                            <tr>
                                                                <td align="center" valign="bottom" class="colsplit-grey-bot" width="133">
                                                                    <table border="0" cellpadding="0" cellspacing="0" class="shrink" width="123" align="center">
                                                                        <tr>
                                                                            <td align="center"><a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" title="Download" target="_blank"><span class="download-mob"></span></a></td>
                                                                            <td class="shrink220" align="center">
                                                                                <table border="0" cellpadding="0" cellspacing="0" align="center">
                                                                                    <tr>
                                                                                        <td align="center" valign="bottom" class="mobilehide">
                                                                                            <a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" title="Download" target="_blank"><img alt="Download" src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/pets-test/templates/1056/btnDownload.gif" width="123" height="28" style="display:block;border-style:none;" /></a>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                                <td align="center" valign="bottom" class="colsplit-grey-bot" width="133">
                                                                    <table border="0" cellpadding="0" cellspacing="0" class="shrink" width="123" align="center">
                                                                        <tr>
                                                                            <td align="center"><a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" title="Facebook" target="_blank"><span class="facebook-mob"></span></a></td>
                                                                            <td class="shrink220" align="center">
                                                                                <table border="0" cellpadding="0" cellspacing="0" align="center">
                                                                                    <tr>
                                                                                        <td align="center" valign="bottom" class="mobilehide">
                                                                                            <a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" title="Facebook" target="_blank"><img alt="Facebook" src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/pets-test/templates/1056/btnFacebook.gif" width="123" height="28" style="display:block;border-style:none;" /></a>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                                <td align="center" valign="bottom" class="colsplit-grey-bot" width="133">
                                                                    <table border="0" cellpadding="0" cellspacing="0" class="shrink" width="123" align="center">
                                                                        <tr>
                                                                            <td align="left"><a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" title="Twitter" target="_blank"><span class="twitter-mob"></span></a></td>
                                                                            <td class="shrink220" align="center">
                                                                                <table border="0" cellpadding="0" cellspacing="0" align="center">
                                                                                    <tr>
                                                                                        <td align="center" valign="bottom" class="mobilehide">
                                                                                            <a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" title="Twitter" target="_blank"><img alt="twitter" src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/pets-test/templates/1056/btnTwitter.gif" width="123" height="28" style="display:block;border-style:none;" /></a>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <!-- END: 3 buttons -->

                                                        <!-- START: text area  -->
                                                        <table border="0" cellpadding="0" cellspacing="0" class="shrink" width="400" align="center">
                                                            <tr>
                                                                <td style="font-size:10px;line-height:10px;"><img src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/pets-test/templates/1056/spacer.gif" width="1" height="10" style="display:block;border-style:none;font-size:1px;line-height:1%;mso-line-height-rule:exactly;" /></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="mobilehide" align="center" style="color:#63849d;font-size:10px;line-height:16px;font-family:Arial, Helvetica, sans-serif;">
                                                                    Congratulations on finding your best matched pet.
                                                                    <br />Share your video with #PetsMatch and you could star in our special TV commercial!
                                                                    <br />
                                                                    <br />Watch what Mel gets up to when you’re not home in cinemas now.
                                                                    <br />
                                                                    <br />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="mobilehide">
                                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                                        <tr>
                                                                            <td width="300" style="color:#63849d;font-size:9px;line-height:13px;font-family:Arial, Helvetica, sans-serif;">
                                                                                This email was sent to {{ email }} <a href= style="color:#63849d;font-size:9px;line-height:13px;font-family:Arial, Helvetica, sans-serif;"></a>.
                                                                                <br /> This email was sent to you by &copy;Universal.
                                                                                <br /> &copy; Universal copyright. All Rights Reserved
                                                                                <br /> <strong><a href="#" style="color:#63849d;font-size:9px;line-height:13px;font-family:Arial, Helvetica, sans-serif;" title="Terms and Conditions">Terms and Conditions</a> | <a href="#" style="color:#63849d;font-size:9px;line-height:13px;font-family:Arial, Helvetica, sans-serif;" title="Privacy Policy">Privacy Policy</a></strong>
                                                                            </td>
                                                                            <td width="100" align="right" valign="bottom"><img src="https://s3-eu-west-1.amazonaws.com/quander-central/universal-pictures-Bjgkrh/pets-test/templates/1056/logo-universal.gif" width="72" height="18" alt="Pets" style="display:block;border-style:none;"></td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <!-- END: text area  -->


                                                        <!-- START: mobile only -->
                                                        <div id="gmail" style="display:none;width:0;overflow:hidden;max-height:0;">
                                                            <table border="0" cellpadding="0" cellspacing="0" class="shrink" bgcolor="#ffffff" width="580" style="mso-hide:all;">
                                                                <tr>
                                                                    <td style="color:#63849d;font-size:10px;line-height:16px;font-family:Arial, Helvetica, sans-serif;;" bgcolor="#ffffff" align="center">Congratulations on finding your best matched pet.
                                                                        <br /> Come watch what Mel gets up to when you’re not
                                                                        <br /> home in cinemas now.
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size:10px;line-height:10px;"><img src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/pets-test/templates/1056/spacer.gif" width="1" height="10" style="display:block;border-style:none;font-size: 1px; line-height: 1%; mso-line-height-rule: exactly;" /></td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="color:#63849d;font-size:10px;line-height:16px;font-family:Arial, Helvetica, sans-serif;;" bgcolor="#ffffff" align="center">
                                                                        Plus share your video with #PetsMatch for your chance
                                                                        <br /> to star in our special TV commercial!</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size:10px;line-height:10px;"><img src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/pets-test/templates/1056/spacer.gif" width="1" height="10" style="display:block;border-style:none;font-size:1px;line-height:1%;mso-line-height-rule:exactly;" /></td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="200" align="center"><img src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/pets-test/templates/1056/logo-universal.gif" width="144" height="36" alt="Pets" style="display:block;border-style:none;"></td>

                                                                </tr>
                                                                <tr>
                                                                    <td align="center" style="color:#63849d;font-size:9px;line-height:13px;font-family:Arial, Helvetica, sans-serif;">
                                                                        <br />
                                                                        <br /> This email was sent to {{ email }} <a href="" style="color:#63849d;font-size:9px;line-height:13px;font-family:Arial, Helvetica, sans-serif;"></a>.
                                                                        <br /> This email was sent to you by &copy;Universal.
                                                                        <br /> &copy; Universal copyright. All Rights Reserved
                                                                        <br /> <strong><a href="#" style="color:#63849d;font-size:9px;line-height:13px;font-family:Arial, Helvetica, sans-serif;" title="Terms and Conditions">Terms and Conditions</a> | <a href="#" style="color:#63849d;font-size:9px;line-height:13px;font-family:Arial, Helvetica, sans-serif;" title="Privacy Policy">Privacy Policy</a></strong>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><img src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/pets-test/templates/1056/mobile-bottomDog.jpg" width="320" height="180" alt="Pets" style="display:block;border-style:none;"></td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                        <!-- END: mobile only -->
                                                    </td>


                                                    <!-- START: right dog -->
                                                    <td valign="bottom" align="right">
                                                        <img alt="From the Humans Behind - Despicable Me" src="https://quander-central.s3.amazonaws.com/universal-pictures-Bjgkrh/pets-test/templates/1056/desktop-rightDog.jpg" width="98" height="206" style="display:block;border-style:none;" class="mobilehide" /></a>
                                                    </td>
                                                    <!-- END: right dog -->
                                                </tr>
                                            </table>
                                            <!-- *********** End Pets email content rows ***********  -->

                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

</body>

</html>